<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Faw Trucks O'zbekistonda</title>
    <meta name="description" content="Faw Trucks O'zbekistonda">
    <meta name="keywords" content="Faw Trucks O'zbekistonda">
    <meta name="author" content="mix_design">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Фавикон и иконки -->
    <link rel="shortcut icon" href="img/icon/favicon_5.ico" type="image/x-icon">
    <link rel="icon" href="template/img/favicon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="template/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="template/img/favicon/manifest.webmanifest">

    <!-- Мета для Facebook -->
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:title" content="Faw Trucks в Узбекистане">
    <meta property="og:description" content="Faw Trucks в Узбекистане">
    <meta property="og:url" content="https://mixdesign.dev/themeforest/rayo">
    <meta property="og:image" content="https://mixdesign.dev/themeforest/rayo/img/og-image.jpg">

    <!-- Подключение стилей -->
    <link rel="stylesheet" type="text/css" href="template/css/loaders/loader.css">
    <link rel="stylesheet" type="text/css" href="template/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="template/css/main_site.css">
    <link rel="stylesheet" type="text/css" href="site_main.css">
    <link rel="stylesheet" type="text/css" href="site_lizing.css">

    <!-- Цвет браузера -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FAF7F6">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#161616">
    <meta name="msapplication-navbutton-color" content="#161616">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>

<body>
    <!-- Меню и шапка -->
    <nav id="header" class="mxd-nav__wrap" data-lenis-prevent="">
        <!-- Логотип в шапке -->
        <div class="mxd-header__logo loading__fade">
            <a href="site_main.html" class="mxd-logo">
                <img src="faw_site-img/LOGO-VUM.png" class="mxd-logo__image" alt="FAW Logo">
            </a>
        </div>

        <!-- Навигация для десктопа -->
        <div class="mxd-header__nav loading__fade">
            <ul class="desktop-menu">
                <li class="desktop-menu__item active">
                    <a href="site_main.html" class="desktop-menu__link">Bosh sahifa</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="#" class="desktop-menu__link">
                        Dilerlar
                        <span class="desktop-menu__arrow">▼</span>
                    </a>
                    <ul class="desktop-submenu">
                        <li class="desktop-submenu__item">
                            <a href="site_dealers.html" class="desktop-submenu__link">Diler topish</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="become_potential_dealer.html" class="desktop-submenu__link">Diler bo'lish</a>
                        </li>
                    </ul>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_news.html" class="desktop-menu__link">Kompaniya yangiliklari</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="faw_main-models.html" class="desktop-menu__link">
                        Modellar
                        <span class="desktop-menu__arrow">▼</span>
                    </a>
                    <ul class="desktop-submenu">
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Shatakchi mashinalar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Samosvallar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Maxsus texnika</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Avtofurgonlar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Shassilar</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Tiger V</a>
                        </li>
                        <li class="desktop-submenu__item">
                            <a href="faw_main-models.html" class="desktop-submenu__link">Tiger VR</a>
                        </li>
                    </ul>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_about.html" class="desktop-menu__link">Kompaniya haqida</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_lizing.html" class="desktop-menu__link">Lizing</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_service.html" class="desktop-menu__link">Servis</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="site_contact.html" class="desktop-menu__link">Bo'glanish</a>
                </li>
                <li class="desktop-menu__item">
                    <a href="jobs-page.html" class="desktop-menu__link">Vakansiya</a>
                </li>
            </ul>
        </div>

        <!-- Элементы управления шапкой -->
        <div class="mxd-header__controls loading__fade">
            <div class="language-switcher">
                <span class="language-current">UZ</span>
                <span class="language-arrow">▼</span>
                <div class="language-dropdown">
                    <a href="#" class="language-option" data-lang="uz">O'zbek</a>
                    <a href="#" class="language-option" data-lang="ru">Русский</a>
                    <a href="#" class="language-option" data-lang="en">English</a>
                </div>
            </div>
            <button id="color-switcher" class="mxd-color-switcher" type="button" role="switch"
                aria-label="light/dark mode" aria-checked="true"></button>
            <a class="btn btn-anim btn-default btn-mobile-icon btn-outline slide-right-up" style="gap: 0;"
                href="#faw-main-contact-form" aria-label="Перейти к форме связи">
                <span class="btn-caption"></span>
                <i class="ph-bold ph-arrow-up-right"></i>
            </a>
        </div>

        <!-- Гамбургер -->
        <div class="mxd-nav__contain loading__fade">
            <a href="#0" class="mxd-nav__hamburger">
                <div class="hamburger__base"></div>
                <div class="hamburger__line"></div>
                <div class="hamburger__line"></div>
            </a>
        </div>

        <!-- Основная мобильная навигация -->
        <div class="mxd-menu__wrapper">
            <div class="mxd-menu__base"></div>
            <div class="mxd-menu__contain">
                <div class="mxd-menu__inner">
                    <div class="mxd-menu__left">
                        <p class="mxd-menu__caption menu-fade-in">🚚 FAW Trucks Uzbekistan<br>Ishonchli transport
                            yechimlari</p>
                        <div class="main-menu">
                            <nav class="main-menu__content">
                                <ul id="main-menu" class="main-menu__accordion">
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_main.html">
                                            <span class="btn-caption">Bosh sahifa</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <div class="main-menu__toggle">
                                            <span class="main-menu__link btn btn-anim">
                                                <span class="btn-caption">Dilerlar</span>
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z" />
                                            </svg>
                                        </div>
                                        <ul class="submenu">
                                            <li class="submenu__item">
                                                <a href="site_dealers.html">Diler topish</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="become_potential_dealer.html">Diler bo'lish</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_news.html">
                                            <span class="btn-caption">Kompaniya yangiliklari</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <div class="main-menu__toggle">
                                            <span class="main-menu__link btn btn-anim">
                                                <span class="btn-caption">Modellar</span>
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1"
                                                viewBox="0 0 20 20">
                                                <path
                                                    d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z" />
                                            </svg>
                                        </div>
                                        <ul class="submenu">
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Yuk mashinalari</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Avtobuslar</a>
                                            </li>
                                            <li class="submenu__item">
                                                <a href="faw_main-models.html">Maxsus texnika</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_about.html">
                                            <span class="btn-caption">Kompaniya haqida</span>
                                        </a>
                                    </li>
                                    <li class="main-menu__item">
                                        <a class="main-menu__link btn btn-anim" href="site_contact.html">
                                            <span class="btn-caption">Bog'lanish</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="mxd-menu__data menu-fade-in">
                        <p class="t-xsmall">
                            FAW Trucks Uzbekistan
                            <i class="ph-fill ph-heart t-additional"></i>
                        </p>
                        <p class="t-xsmall">
                            <i class="ph ph-copyright"></i>
                            2025
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Контент страницы -->
    <main id="mxd-page-content" class="mxd-page-content">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb-ol">
                <li><a href="/site_main.html">Bosh sahifa</a></li>
                <li class="active"><a href="/site_lizing.html">Lizing</a></li>
            </ol>
        </div>
        <!-- Баннер -->
        <!-- Hero Section Start -->
        <div class="mxd-section">
            <div class="mxd-hero-09">
                <div class="mxd-hero-09__wrap loading-wrap lizing__hero-cont">
                    <div class="mxd-hero-09__headline">
                        <div class="hero-09-headline__caption loading__item">
                            <h2>VUM LIZING</h2>
                            <p class="mxd-hero-09__desc">
                                VUM Lizing orqali siz o'zingizga kerakli FAW yuk
                                mashinasini sotib olishingiz mumkin. Bizning lizing shartlarimiz moslashuvchan bo'lib,
                                sizning biznesingiz ehtiyojlariga mos keladi.
                            </p>
                        </div>
                    </div>
                    <div class="mxd-hero-09__objects">
                        <div class="hero-09-objects__image loading__item">
                            <img class="mxd-move" src="faw_site-img/lizing.png" alt="Hero Image">
                        </div>
                        <div class="hero-09-objects__item item-01 loading__item">
                            <div class="mxd-counter horizontal">
                                <p id="stats-counter-1" class="mxd-counter__number mxd-stats-number xsmall">0</p>
                                <p class="mxd-counter__descr t-140 t-bright t-small">Yil<br>bozorda</p>
                            </div>
                        </div>
                        <div class="hero-09-objects__item item-02 loading__item">
                            <div class="mxd-counter horizontal">
                                <span class="mark-text">Minimal dastlabki to'lov - 30%</span>
                            </div>
                        </div>
                        <div class="hero-09-objects__item item-03 loading__item">
                            <div class="mxd-hero__mark">
                                <span class="mark-icon"></span>
                                <span class="mark-text">Tez rasmiylashtirish</span>
                            </div>
                        </div>
                    </div>
                    <div class="lizing-calc__title">
                        <h2 class="calc-title">Lizing kalkulatori</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Section End -->
        <!-- ЛИЗИНГОВЫЙ КАЛЬКУЛЯТОР -->
        <div class="mxd-section">
            <div class="mxd-hero-06">
                <div class="mxd-hero-06__wrap loading-wrap">
                    <div class="mxd-hero-06__top">
                        <div class="mxd-hero-06__content">
                            <div class="lizing-calc-container">
                                <div class="lizing-form-section">
                                    <div class="lizing-form-group">
                                        <label>Texnika narxi</label>
                                        <input type="text" class="lizing-input-field" id="amountInput"
                                            value="300 000 000 so'm">
                                        <div class="lizing-slider-container">
                                            <input type="range" class="lizing-slider" id="amountSlider" min="250000000"
                                                max="600000000" value="300000000" step="1000000">
                                            <div class="lizing-slider-labels">
                                                <span>250 mln. so'm</span>
                                                <span>400 mln. so'm</span>
                                                <span>600 mln. so'm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lizing-form-group">
                                        <label>Dastlabki to'lov</label>
                                        <input type="text" class="lizing-input-field" id="downPaymentInput"
                                            value="120 000 000 so'm">
                                        <div class="lizing-slider-container">
                                            <input type="range" class="lizing-slider" id="downPaymentSlider" min="30"
                                                max="60" value="40" step="1">
                                            <div class="lizing-slider-labels">
                                                <span>30%</span>
                                                <span>45%</span>
                                                <span>60%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lizing-form-group">
                                        <label>Lizing muddati</label>
                                        <input type="text" class="lizing-input-field" id="termInput" value="24 oy">
                                        <div class="lizing-slider-container">
                                            <input type="range" class="lizing-slider" id="termSlider" min="12" max="60"
                                                value="24" step="1">
                                            <div class="lizing-slider-labels">
                                                <span>12 oy</span>
                                                <span>33 oy</span>
                                                <span>60 oy</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lizing-result-section">
                                    <div class="lizing-result-amount">Moliyalashtirish summasi</div>
                                    <div class="lizing-result-value" id="financeAmount">180 900 000 so'm</div>
                                    <div class="lizing-payment-info">
                                        <div>
                                            <div class="lizing-monthly-label">Oylik to'lov</div>
                                            <div class="lizing-monthly-value" id="monthlyPayment">8 625 000 so'mdan
                                            </div>
                                        </div>
                                        <div>
                                            <div class="lizing-monthly-label">Dastlabki to'lov <span
                                                    class="lizing-info-icon">?</span></div>
                                            <div class="lizing-payment-value" id="downPaymentAmount">40%</div>
                                        </div>
                                    </div>
                                    <div class="lizing-document-section">
                                        <div class="lizing-document-label">Kerakli hujjatlar <span
                                                class="lizing-info-icon">?</span></div>
                                        <button class="lizing-document-btn">Pasport</button>
                                        <button class="lizing-document-btn">Daromad haqida ma'lumotnoma</button>
                                    </div>
                                    <div class="lizing-calculation-info">
                                        <div class="lizing-calculation-label">Hisob-kitob dastlabki <span
                                                class="lizing-info-icon">?</span></div>
                                    </div>
                                    <div class="lizing-buttons">
                                        <button class="lizing-btn-primary">Ariza yuborish</button>
                                        <button type="button" class="lizing-btn-secondary" id="detailsBtn">Lizing haqida
                                            batafsil</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Футер -->
    <footer id="mxd-footer" class="mxd-footer">
        <div class="mxd-footer__text-wrap">
            <div class="fullwidth-text__tl-trigger"></div>
            <div class="mxd-footer__fullwidth-text personal anim-top-to-bottom">
                <h1 class="footer-title">FAW TRUCKS</h1>
            </div>
        </div>

        <div class="mxd-footer__footer-blocks">
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card fullheight-card">
                    <div class="footer-blocks__nav">
                        <ul class="footer-nav">
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Bosh sahifa</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Biz haqimizda</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Yuk mashinalari</span>
                                </a>
                                <p class="footer-nav__counter">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px"
                                        height="20px" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill="currentColor"
                                            d="M19.6,9.6c0,0-3,0-4,0c-0.4,0-1.8-0.2-1.8-0.2c-0.6-0.1-1.1-0.2-1.6-0.6c-0.5-0.3-0.9-0.8-1.2-1.2 c-0.3-0.4-0.4-0.9-0.5-1.4c0,0-0.1-1.1-0.2-1.5c-0.1-1.1,0-4.4,0-4.4C10.4,0.2,10.2,0,10,0S9.6,0.2,9.6,0.4c0,0,0.1,3.3,0,4.4 c0,0.4-0.2,1.5-0.2,1.5C9.4,6.7,9.2,7.2,9,7.6C8.7,8.1,8.2,8.5,7.8,8.9c-0.5,0.3-1,0.5-1.6,0.6c0,0-1.2,0.1-1.7,0.2 c-1,0.1-4.2,0-4.2,0C0.2,9.6,0,9.8,0,10c0,0.2,0.2,0.4,0.4,0.4c0,0,3.1-0.1,4.2,0c0.4,0,1.7,0.2,1.7,0.2c0.6,0.1,1.1,0.2,1.6,0.6 c0.4,0.3,0.8,0.7,1.1,1.1c0.3,0.5,0.5,1,0.6,1.6c0,0,0.1,1.3,0.2,1.7c0,1,0,4.1,0,4.1c0,0.2,0.2,0.4,0.4,0.4s0.4-0.2,0.4-0.4 c0,0,0-3.1,0-4.1c0-0.4,0.2-1.7,0.2-1.7c0.1-0.6,0.2-1.1,0.6-1.6c0.3-0.4,0.7-0.8,1.1-1.1c0.5-0.3,1-0.5,1.6-0.6 c0,0,1.3-0.1,1.8-0.2c1,0,4,0,4,0c0.2,0,0.4-0.2,0.4-0.4C20,9.8,19.8,9.6,19.6,9.6L19.6,9.6z">
                                        </path>
                                    </svg>
                                    <span>25</span>
                                </p>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Xizmatlar</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Yangiliklar</span>
                                </a>
                            </li>
                            <li class="footer-nav__item anim-uni-in-up">
                                <a href="#" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">Aloqa</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-blocks__links anim-uni-in-up">
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">Maxfiylik siyosati</span>
                        </a>
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">Foydalanish shartlari</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card">
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-envelope"></i>
                        <a href="mailto:info@fawtrucks.uz?subject=FAW%20TRUCKS%20bo'yicha%20so'rov"><span
                                style="font-weight: bold;">eMail: </span>info@fawtrucks.uz</a>
                    </p>
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-phone"></i>
                        <a href="tel:+998712345678"><span style="font-weight: bold;">Telefon: </span>+998 71
                            234-56-78</a>
                    </p>
                    <p class="mxd-point-subtitle anim-uni-in-up">
                        <i class="ph-fill ph-map-pin"></i>
                        <a href="https://yandex.uz/maps/-/CHxF6XPZ" target="_blank" rel="noopener noreferrer"><span
                                style="font-weight: bold;">Manzil: </span>Toshkent,Abdulla Kaxxar ko'chasi 2А,</a>
                    </p>
                </div>

                <div class="footer-blocks__card card-maps" style="padding:0;overflow: hidden;height: 100%;">
                    <div style="position:relative;overflow:hidden;width:100%;height:100%;">
                        <a href="https://yandex.uz/maps/org/187051650206/?utm_medium=mapframe&utm_source=maps"
                            target="_blank" rel="noopener noreferrer"
                            style="color:#eee;font-size:12px;position:absolute;top:0px;">Faw Trucks</a>
                        <a href="https://yandex.uz/maps/10335/tashkent/category/car_dealership/184105322/?utm_medium=mapframe&utm_source=maps"
                            target="_blank" rel="noopener noreferrer"
                            style="color:#eee;font-size:12px;position:absolute;top:14px;">Автосалон в Ташкенте</a>
                        <iframe
                            src="https://yandex.uz/map-widget/v1/?ll=69.264431%2C41.271680&mode=poi&poi%5Bpoint%5D=69.264339%2C41.271780&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D187051650206&z=16"
                            width="100%" height="100%" frameborder="1" allowfullscreen="true"
                            style="position:relative;border:0;min-height:220px;"></iframe>
                    </div>
                </div>
            </div>

            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card fullheight-card">
                    <div class="footer-blocks__block">
                        <div class="footer-blocks__title anim-uni-in-up">
                            <p class="footer-blocks__title-l">Ijtimoiy tarmoqlar</p>
                        </div>

                        <div class="footer-blocks__socials">
                            <ul class="footer-socials">
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/facebook.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.facebook.com/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">Facebook</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/instagram.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.instagram.com/fawtrucks.uz" class="footer-socials__link"
                                        target="_blank">Instagram</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/telegram.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://t.me/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">Telegram</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/youtube.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.youtube.com/c/fawtrucksuz" class="footer-socials__link"
                                        target="_blank">YouTube</a>
                                </li>
                                <li class="footer-socials__item anim-uni-in-up">
                                    <img src="faw_site-img/icons/main-social__icon/linkedin.png" alt=""
                                        class="footer-socials__icon">
                                    <a href="https://www.linkedin.com/company/faw-trucks-uzbekistan"
                                        class="footer-socials__link" target="_blank">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-blocks__links anim-uni-in-up">
                        <p class="t-xsmall t-muted">
                            <a class="no-effect" href="#" target="_blank">FAW TRUCKS</a>
                            © 2025 - Barcha huquqlar himoyalangan
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Кнопка вверх -->
    <a href="#0" id="to-top" class="btn btn-to-top slide-up anim-no-delay">
        <i class="ph ph-arrow-up"></i>
    </a>

    <!-- МОДАЛЬНОЕ ОКНО КАЛЬКУЛЯТОРА -->
    <div id="detailsModal" class="modal">
        <div class="modal-wrapper">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Lizing haqida batafsil ma'lumot</h2>
                    <span class="close">&times;</span>
                </div>
                <div class="modal-body">
                    <div class="calculation-summary">
                        <div class="summary-grid">
                            <div class="summary-item">
                                <div class="summary-label">Texnika narxi</div>
                                <div class="summary-value" id="modal-car-price">300 000 000 so'm</div>
                            </div>
                            <div class="summary-item">
                                <div class="summary-label">Dastlabki to'lov</div>
                                <div class="summary-value" id="modal-initial-payment">120 000 000 so'm</div>
                            </div>
                            <div class="summary-item">
                                <div class="summary-label">Lizing muddati</div>
                                <div class="summary-value" id="modal-term">24 oy</div>
                            </div>
                            <div class="summary-item">
                                <div class="summary-label">Oylik to'lov</div>
                                <div class="summary-value primary" id="modal-monthly-payment">8 625 000 so'm</div>
                            </div>
                            <div class="summary-item">
                                <div class="summary-label">Jami to'lov</div>
                                <div class="summary-value" id="modal-total-payment">207 000 000 so'm</div>
                            </div>
                            <div class="summary-item">
                                <div class="summary-label">Foiz stavkasi</div>
                                <div class="summary-value" id="modal-rate">22%</div>
                            </div>
                        </div>
                    </div>

                    <div class="payment-schedule">
                        <h3 class="schedule-title">To'lov jadvali</h3>
                        <div class="schedule-table-wrapper">
                            <table class="schedule-table">
                                <thead>
                                    <tr>
                                        <th>Oy</th>
                                        <th>Asosiy qarz</th>
                                        <th>Foizlar</th>
                                        <th>Oylik to'lov</th>
                                        <th>Qoldiq</th>
                                    </tr>
                                </thead>
                                <tbody id="schedule-tbody">
                                    <!-- JavaScript tomonidan to'ldiriladi -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="conditions-section">
                        <h3 class="conditions-title">Lizing shartlari</h3>
                        <ul class="conditions-list">
                            <li>Minimal dastlabki to'lov - 30%</li>
                            <li>Maksimal lizing muddati - 60 oy</li>
                            <li>Texnikaning har qanday holatda bo'lishi mumkin</li>
                            <li>Kredit tarixisiz ham rasm qilish mumkin</li>
                            <li>Tez rasmiylashtirish (1-2 kun)</li>
                            <li>Muddatdan oldin to'lash imkoniyati</li>
                            <li>Lizing tugagandan keyin texnika sizniki bo'ladi</li>
                            <li>Kasko sug'urta majburiy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Подключение скриптов -->
    <script src="template/js/libs.min.js"></script>
    <script src="template/js/app.js"></script>
    <script src="faw-js/faw.js"></script>

    <!-- Скролл скрипт -->
    <script>
        (function () {
            function getHeaderHeight() {
                try { var h = document.getElementById('header'); return h ? h.offsetHeight || 0 : 0; } catch (e) { return 0; }
            }

            function scrollToElementById(id) {
                var el = document.getElementById(id);
                if (!el) return;
                var headerH = getHeaderHeight();
                var offset = 18;
                var rect = el.getBoundingClientRect();
                var targetY = Math.max(0, Math.round(window.pageYOffset + rect.top - headerH - offset));
                try { window.scrollTo({ top: targetY, behavior: 'smooth' }); }
                catch (e) { window.scrollTo(0, targetY); }
            }

            document.addEventListener('click', function (e) {
                var a = e.target.closest && e.target.closest('a[href^="#"]');
                if (!a) return;
                var href = a.getAttribute('href');
                if (!href || href === '#') return;
                var id = href.slice(1);
                if (!id) return;
                if (document.getElementById(id)) {
                    e.preventDefault();
                    scrollToElementById(id);
                }
            }, false);
        })();
    </script>

    <!-- ЛИЗИНГОВЫЙ КАЛЬКУЛЯТОР СКРИПТ -->
    <script>
        const amountSlider = document.getElementById('amountSlider');
        const downPaymentSlider = document.getElementById('downPaymentSlider');
        const termSlider = document.getElementById('termSlider');
        const amountInput = document.getElementById('amountInput');
        const downPaymentInput = document.getElementById('downPaymentInput');
        const termInput = document.getElementById('termInput');
        const financeAmount = document.getElementById('financeAmount');
        const monthlyPayment = document.getElementById('monthlyPayment');
        const downPaymentAmount = document.getElementById('downPaymentAmount');

        let updatingFromSlider = false;
        let updatingFromInput = false;

        function formatNumber(num) {
            return new Intl.NumberFormat('ru-RU').format(num);
        }

        function parseAmount(text) {
            return parseInt(text.replace(/[^\d]/g, '')) || 0;
        }

        function parseTerm(text) {
            return parseInt(text.replace(/[^\d]/g, '')) || 0;
        }

        const AMOUNT_MIN = 250000000;
        const AMOUNT_MAX = 600000000;
        const DOWNPAY_MIN = 30;
        const DOWNPAY_MAX = 60;
        const TERM_MIN = 12;
        const TERM_MAX = 60;

        function calculateLeasing(carPrice, initialPaymentPercent, termInMonths) {
            let annualRate;
            if (termInMonths <= 24) {
                annualRate = 0.22;
            } else if (termInMonths <= 36) {
                annualRate = 0.23;
            } else if (termInMonths <= 48) {
                annualRate = 0.26;
            } else if (termInMonths <= 60) {
                annualRate = 0.265;
            } else {
                annualRate = 0.265;
            }

            const initialPayment = Math.round(carPrice * initialPaymentPercent / 100);
            const financingBase = carPrice - initialPayment;
            const additionalCosts = Math.round(financingBase * 0.005);
            const totalAmount = financingBase + additionalCosts;

            const monthlyRate = annualRate / 12;
            const annuityCoefficient = (monthlyRate * Math.pow(1 + monthlyRate, termInMonths)) / (Math.pow(1 + monthlyRate, termInMonths) - 1);
            const monthlyPayment = Math.round(totalAmount * annuityCoefficient);

            return {
                carPrice,
                initialPayment,
                financingBase,
                totalAmount,
                monthlyPayment,
                totalPayment: monthlyPayment * termInMonths,
                annualRate,
                termInMonths
            };
        }

        function generatePaymentSchedule(totalAmount, monthlyPayment, annualRate, termInMonths) {
            const schedule = [];
            let remainingDebt = totalAmount;
            const monthlyRate = annualRate / 12;

            for (let month = 1; month <= termInMonths; month++) {
                const interestPayment = Math.round(remainingDebt * monthlyRate);
                const principalPayment = monthlyPayment - interestPayment;
                remainingDebt = Math.max(0, remainingDebt - principalPayment);

                schedule.push({
                    month,
                    principalPayment,
                    interestPayment,
                    monthlyPayment,
                    remainingDebt
                });
            }

            return schedule;
        }

        function updateFromSliders() {
            if (updatingFromInput) return;
            updatingFromSlider = true;

            const amount = parseInt(amountSlider.value);
            const downPaymentPercent = parseInt(downPaymentSlider.value);
            const term = parseInt(termSlider.value);
            const downPaymentSum = Math.round(amount * downPaymentPercent / 100);

            amountInput.value = `${formatNumber(amount)} so'm`;
            downPaymentInput.value = `${formatNumber(downPaymentSum)} so'm`;
            termInput.value = `${term} oy`;

            updateResults();
            updateSliderBackgrounds();
            updatingFromSlider = false;
        }

        function updateResults() {
            const amount = parseInt(amountSlider.value);
            const downPaymentPercent = parseInt(downPaymentSlider.value);
            const term = parseInt(termSlider.value);
            const result = calculateLeasing(amount, downPaymentPercent, term);

            financeAmount.textContent = `${formatNumber(result.totalAmount)} so'm`;
            monthlyPayment.textContent = `${formatNumber(result.monthlyPayment)} so'mdan`;
            downPaymentAmount.textContent = `${downPaymentPercent}%`;
        }

        function updateSliderBackground(slider) {
            const min = parseFloat(slider.min);
            const max = parseFloat(slider.max);
            const value = parseFloat(slider.value);
            const percentage = ((value - min) / (max - min)) * 100;
            slider.style.background = `linear-gradient(to right, black 0%, grey ${percentage}%, var(--base-shade) ${percentage}%, var(--base-shade) 100%)`;
        }

        function updateSliderBackgrounds() {
            updateSliderBackground(amountSlider);
            updateSliderBackground(downPaymentSlider);
            updateSliderBackground(termSlider);
        }

        // Обработчики слайдеров
        amountSlider.addEventListener('input', updateFromSliders);
        downPaymentSlider.addEventListener('input', updateFromSliders);
        termSlider.addEventListener('input', updateFromSliders);

        // Обработчики полей ввода
        amountInput.addEventListener('blur', function () {
            if (updatingFromSlider) return;
            updatingFromInput = true;
            const value = parseAmount(this.value);
            const clampedValue = Math.max(AMOUNT_MIN, Math.min(AMOUNT_MAX, value));
            amountSlider.value = clampedValue;
            this.value = `${formatNumber(clampedValue)} so'm`;
            const downPaymentPercent = parseInt(downPaymentSlider.value);
            const newDownPayment = Math.round(clampedValue * downPaymentPercent / 100);
            downPaymentInput.value = `${formatNumber(newDownPayment)} so'm`;
            updateResults();
            updateSliderBackgrounds();
            updatingFromInput = false;
        });

        downPaymentInput.addEventListener('blur', function () {
            if (updatingFromSlider) return;
            updatingFromInput = true;
            const value = parseAmount(this.value);
            const amount = parseInt(amountSlider.value);
            let percent = Math.round((value / amount) * 100);
            percent = Math.max(DOWNPAY_MIN, Math.min(DOWNPAY_MAX, percent));
            downPaymentSlider.value = percent;
            const exactDownPayment = Math.round(amount * percent / 100);
            this.value = `${formatNumber(exactDownPayment)} so'm`;
            updateResults();
            updateSliderBackgrounds();
            updatingFromInput = false;
        });

        termInput.addEventListener('blur', function () {
            if (updatingFromSlider) return;
            updatingFromInput = true;
            const value = parseTerm(this.value);
            const clampedValue = Math.max(TERM_MIN, Math.min(TERM_MAX, value));
            termSlider.value = clampedValue;
            this.value = `${clampedValue} oy`;
            updateResults();
            updateSliderBackgrounds();
            updatingFromInput = false;
        });

        // Обработчики фокуса
        amountInput.addEventListener('focus', function () {
            if (updatingFromSlider) return;
            const value = parseAmount(this.value);
            this.value = value.toString();
        });

        downPaymentInput.addEventListener('focus', function () {
            if (updatingFromSlider) return;
            const value = parseAmount(this.value);
            this.value = value.toString();
        });

        termInput.addEventListener('focus', function () {
            if (updatingFromSlider) return;
            const value = parseTerm(this.value);
            this.value = value.toString();
        });

        // Модальное окно
        const modal = document.getElementById('detailsModal');
        const detailsBtn = document.getElementById('detailsBtn');
        const closeBtn = document.querySelector('.close');

        // Исправление скролла колесиком мыши в модальном окне
        function fixModalScroll() {
            const modalWrapper = document.querySelector('.modal-wrapper');
            const modal = document.getElementById('detailsModal');

            if (modalWrapper && modal) {
                // Предотвращаем всплытие события wheel
                modalWrapper.addEventListener('wheel', function (e) {
                    e.stopPropagation();
                }, { passive: false });

                // Альтернативный вариант - перехват на самом модальном окне
                modal.addEventListener('wheel', function (e) {
                    if (e.target.closest('.modal-wrapper')) {
                        const wrapper = e.target.closest('.modal-wrapper');
                        const scrollTop = wrapper.scrollTop;
                        const scrollHeight = wrapper.scrollHeight;
                        const height = wrapper.clientHeight;
                        const wheelDelta = e.deltaY;
                        const scrollDown = wheelDelta > 0;

                        // Разрешаем скролл только если есть куда скроллить
                        if (scrollDown && scrollTop + height >= scrollHeight) {
                            e.preventDefault();
                        } else if (!scrollDown && scrollTop <= 0) {
                            e.preventDefault();
                        } else {
                            e.stopPropagation();
                        }
                    }
                }, { passive: false });
            }
        }

        function showModal() {
            const amount = parseInt(amountSlider.value);
            const downPaymentPercent = parseInt(downPaymentSlider.value);
            const term = parseInt(termSlider.value);
            const result = calculateLeasing(amount, downPaymentPercent, term);

            document.getElementById('modal-car-price').textContent = `${formatNumber(result.carPrice)} so'm`;
            document.getElementById('modal-initial-payment').textContent = `${formatNumber(result.initialPayment)} so'm`;
            document.getElementById('modal-term').textContent = `${term} oy`;
            document.getElementById('modal-monthly-payment').textContent = `${formatNumber(result.monthlyPayment)} so'm`;
            document.getElementById('modal-total-payment').textContent = `${formatNumber(result.totalPayment)} so'm`;
            document.getElementById('modal-rate').textContent = `${(result.annualRate * 100).toFixed(1)}%`;

            const schedule = generatePaymentSchedule(result.totalAmount, result.monthlyPayment, result.annualRate, term);
            const tbody = document.getElementById('schedule-tbody');
            tbody.innerHTML = '';

            schedule.forEach(payment => {
                const row = tbody.insertRow();
                row.innerHTML = `
            <td>${payment.month}</td>
            <td>${formatNumber(payment.principalPayment)} so'm</td>
            <td>${formatNumber(payment.interestPayment)} so'm</td>
            <td>${formatNumber(payment.monthlyPayment)} so'm</td>
            <td>${formatNumber(payment.remainingDebt)} so'm</td>
        `;
            });

            modal.classList.add('show');
            document.body.classList.add('modal-open');

            // Исправляем скролл колесиком
            fixModalScroll();

            modal.focus();
        }

        function hideModal() {
            modal.classList.remove('show');
            document.body.classList.remove('modal-open');
        }

        detailsBtn.addEventListener('click', function (event) {
            event.preventDefault();
            showModal();
        });
        closeBtn.addEventListener('click', hideModal);
        window.addEventListener('click', function (event) {
            if (event.target === modal || event.target.classList.contains('modal-wrapper')) {
                hideModal();
            }
        });

        document.addEventListener('keydown', function (event) {
            if (event.key === 'Escape') {
                hideModal();
            }
        });
        // Интеграция с переключателем темы
        const themeToggle = document.getElementById('color-switcher');
        if (themeToggle) {
            themeToggle.addEventListener('click', function () {
                const currentTheme = document.body.getAttribute('data-theme');
                const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
                document.body.setAttribute('data-theme', newTheme);
                localStorage.setItem('theme', newTheme);
                updateSliderBackgrounds();
            });

            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                document.body.setAttribute('data-theme', savedTheme);
            }
        }
        // Инициализация
        updateFromSliders();
    </script>

</body>

</html>