<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">

  <!-- Page Title -->
  <title>Ishonchli hamkor – barqaror kelajak: VUM kompaniyasining dilerlik
    konferensiyasi bo‘lib o‘tdi</title>

  <!-- Meta Tags -->
  <meta name="description" content="Faw Trucks в Узбекистане">
  <meta name="keywords" content="Faw Trucks в Узбекистане">
  <meta name="author" content="mix_design">

  <!-- Viewport Meta-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Favicon & Icons Start -->
  <link rel="shortcut icon" href="img/icon/favicon_5.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/icon/_iiiiapple.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/icon/_iiii176.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icon/_iiii1156.png">
  <link rel="apple-touch-startup-image" href="img/icon/_iiii1.png ">
  <!-- Template Favicon & Icons End -->

  <!-- Facebook Metadata Start -->
  <meta property="og:image:height" content="1200">
  <meta property="og:image:width" content="1200">
  <meta property="og:title" content="Faw Trucks в Узбекистане">
  <meta property="og:description" content="Faw Trucks в Узбекистане">
  <meta property="og:url" content="https://mixdesign.dev/themeforest/rayo">
  <meta property="og:image" content="https://mixdesign.dev/themeforest/rayo/img/og-image.jpg">
  <!-- Facebook Metadata End -->

  <!-- Template Styles Start -->
  <link rel="stylesheet" type="text/css" href="template/css/loaders/loader.css">
  <link rel="stylesheet" type="text/css" href="template/css/plugins.css">
  <link rel="stylesheet" type="text/css" href="template/css/main_site.css">
  <link rel="stylesheet" type="text/css" href="site_main.css">
  <link rel="stylesheet" type="text/css" href="breadcrumbs.css">
  <link rel="stylesheet" type="text/css" href="single-news-page.css">

  <!-- Template Styles End -->

  <!-- Custom Browser Color Start -->
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FAF7F6">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#161616">
  <meta name="msapplication-navbutton-color" content="#161616">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Custom Browser Color End -->
</head>

<body>
  <!-- Loader Start -->
  <div id="loader" style="display: none;" class="loader">
    <div class="loader__wrapper">
      <div class="loader__content">
        <div class="loader__count">
          <span class="count__text">0</span>
          <!-- <span class="count__percent">%</span> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Loader End -->

  <!-- Меню и шапка (начало) -->
  <nav id="header" class="mxd-nav__wrap" data-lenis-prevent="">

    <!-- Логотип в шапке (начало) -->
    <div class="mxd-header__logo loading__fade">
      <a href="site_main.html" class="mxd-logo">
        <img src="faw_site-img/LOGO-VUM.png" class="mxd-logo__image" alt="FAW Logo">
        <!-- <span class="mxd-logo__text">Faw</span> -->
      </a>
    </div>
    <!-- Логотип в шапке (конец) -->

    <!-- Навигация для десктопа (начало) -->
    <div class="mxd-header__nav loading__fade">
      <ul class="desktop-menu">
        <li class="desktop-menu__item active">
          <a href="site_main.html" class="desktop-menu__link">Bosh sahifa</a>
        </li>
        <li class="desktop-menu__item">
          <a href="#" class="desktop-menu__link">
            Dilerlar
            <span class="desktop-menu__arrow">▼</span>
          </a>
          <ul class="desktop-submenu">
            <li class="desktop-submenu__item">
              <a href="site_dealers.html" class="desktop-submenu__link">Diler topish</a>
            </li>
            <li class="desktop-submenu__item">
              <a href="become_potential_dealer.html" class="desktop-submenu__link">Diler bo'lish</a>
            </li>
          </ul>
        </li>
        <li class="desktop-menu__item">
          <a href="site_news.html" class="desktop-menu__link">Kompaniya yangiliklari</a>
        </li>
        <li class="desktop-menu__item">
          <a href="faw_main-models.html" class="desktop-menu__link">
            Modellar
            <span class="desktop-menu__arrow">▼</span>
          </a>
          <ul class="desktop-submenu">
            <li class="desktop-submenu__item">
              <a href="faw_main-models.html" class="desktop-submenu__link">Shatakchi mashinalar</a>
            </li>
            <li class="desktop-submenu__item">
              <a href="faw_main-models.html" class="desktop-submenu__link">Samosvallar</a>
            </li>
            <li class="desktop-submenu__item">
              <a href="faw_main-models.html" class="desktop-submenu__link">Maxsus texnika</a>
            </li>
            <li class="desktop-submenu__item">
              <a href="faw_main-models.html" class="desktop-submenu__link">Avtofurgonlar</a>
            </li>
            <li class="desktop-submenu__item">
              <a href="faw_main-models.html" class="desktop-submenu__link">Shassilar</a>
            </li>
            <li class="desktop-submenu__item">
              <a href="faw_main-models.html" class="desktop-submenu__link">Tiger V</a>
            </li>
            <li class="desktop-submenu__item">
              <a href="faw_main-models.html" class="desktop-submenu__link">Tiger VR</a>
            </li>
          </ul>
        </li>
        <li class="desktop-menu__item">
          <a href="site_about.html" class="desktop-menu__link">Kompaniya haqida</a>
        </li>
        <li class="desktop-menu__item">
          <a href="site_lizing.html" class="desktop-menu__link">Lizing</a>
        </li>
        <li class="desktop-menu__item">
          <a href="site_service.html" class="desktop-menu__link">Servis</a>
        </li>
        <li class="desktop-menu__item">
          <a href="site_contact.html" class="desktop-menu__link">Bo'glanish</a>
        </li>
        <li class="desktop-menu__item">
          <a href="jobs-page.html" class="desktop-menu__link">Vakansiya</a>
        </li>
      </ul>
    </div>
    <!-- Навигация для десктопа (конец) -->

    <!-- Элементы управления шапкой (начало) -->
    <div class="mxd-header__controls loading__fade">
      <div class="language-switcher">
        <span class="language-current">UZ</span>
        <span class="language-arrow">▼</span>
        <div class="language-dropdown">
          <a href="#" class="language-option" data-lang="uz">O'zbek</a>
          <a href="#" class="language-option" data-lang="ru">Русский</a>
          <a href="#" class="language-option" data-lang="en">English</a>
        </div>
      </div>
      <button id="color-switcher" class="mxd-color-switcher" type="button" role="switch" aria-label="light/dark mode"
        aria-checked="true"></button>
      <a class="btn btn-anim btn-default btn-mobile-icon btn-outline slide-right-up" style="gap: 0;"
        href="#faw-main-contact-form" aria-label="Перейти к форме связи">
        <span class="btn-caption"></span>
        <i class="ph-bold ph-arrow-up-right"></i>
      </a>
    </div>
    <!-- Элементы управления шапкой (конец) -->

    <!-- Гамбургер (начало) -->
    <div class="mxd-nav__contain loading__fade">
      <a href="#0" class="mxd-nav__hamburger">
        <!-- flip element -->
        <div class="hamburger__base"></div>
        <div class="hamburger__line"></div>
        <div class="hamburger__line"></div>
      </a>
    </div>
    <!-- Гамбургер (конец) -->

    <!-- Основная мобильная навигация (начало) -->
    <div class="mxd-menu__wrapper">
      <!-- background active layer -->
      <div class="mxd-menu__base"></div>
      <!-- menu container -->
      <div class="mxd-menu__contain">
        <div class="mxd-menu__inner">
          <!-- left side -->
          <div class="mxd-menu__left">
            <p class="mxd-menu__caption menu-fade-in">🚚 FAW Trucks Uzbekistan<br>Ishonchli transport yechimlari</p>
            <div class="main-menu">
              <nav class="main-menu__content">
                <ul id="main-menu" class="main-menu__accordion">
                  <li class="main-menu__item">
                    <a class="main-menu__link btn btn-anim" href="site_main.html">
                      <span class="btn-caption">Bosh sahifa</span>
                    </a>
                  </li>
                  <li class="main-menu__item">
                    <div class="main-menu__toggle">
                      <span class="main-menu__link btn btn-anim">
                        <span class="btn-caption">Dilerlar</span>
                      </span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1" viewBox="0 0 20 20">
                        <path
                          d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z" />
                      </svg>
                    </div>
                    <ul class="submenu">
                      <li class="submenu__item">
                        <a href="site_dealers.html">Diler topish</a>
                      </li>
                      <li class="submenu__item">
                        <a href="become_potential_dealer.html">Diler bo'lish</a>
                      </li>
                    </ul>
                  </li>
                  <li class="main-menu__item">
                    <a class="main-menu__link btn btn-anim" href="site_news.html">
                      <span class="btn-caption">Kompaniya yangiliklari</span>
                    </a>
                  </li>
                  <li class="main-menu__item">
                    <div class="main-menu__toggle">
                      <span class="main-menu__link btn btn-anim">
                        <span class="btn-caption">Modellar</span>
                      </span>
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1" viewBox="0 0 20 20">
                        <path
                          d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z" />
                      </svg>
                    </div>
                    <ul class="submenu">
                      <li class="submenu__item">
                        <a href="faw_main-models.html">Yuk mashinalari</a>
                      </li>
                      <li class="submenu__item">
                        <a href="faw_main-models.html">Avtobuslar</a>
                      </li>
                      <li class="submenu__item">
                        <a href="faw_main-models.html">Maxsus texnika</a>
                      </li>
                    </ul>
                  </li>
                  <li class="main-menu__item">
                    <a class="main-menu__link btn btn-anim" href="site_about.html">
                      <span class="btn-caption">Kompaniya haqida</span>
                    </a>
                  </li>
                  <li class="main-menu__item">
                    <a class="main-menu__link btn btn-anim" href="site_contact.html">
                      <span class="btn-caption">Bog'lanish</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- нижняя информационная строка -->
          <div class="mxd-menu__data menu-fade-in">
            <p class="t-xsmall">
              FAW Trucks Uzbekistan
              <i class="ph-fill ph-heart t-additional"></i>
            </p>
            <p class="t-xsmall">
              <i class="ph ph-copyright"></i>
              2025
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Основная мобильная навигация (конец) -->

  </nav>
  <!-- Меню и шапка (конец) -->

  <!-- Блок — заголовок секции (начало) -->
  <!-- Page Content Start -->
  <div class="mxd-block loading-wrap">
  </div>
  <!-- Хлебные крошки -->
  <div class="mxd-section-filter pre-grid">
    <div class="mxd-section-filter__inner animate-card-3">
      <div class="mxd-grid-item-1">
        <div class="section-filter">
          <div aria-label="breadcrumb">
            <ol class="breadcrumb-ol">
              <li><a href="site_main.html">Bosh sahifa</a></li>
              <li><a href="site_news.html">VUM yangiliklar</a></li>
              <li class="active"><a href="single-news-page.html">Ishonchli hamkor </a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="title-after-video">
    <div class="faw-history-title fade-in">
      <h2 class="reveal-type anim-uni-in-up">Ishonchli hamkor – barqaror kelajak: VUM kompaniyasining dilerlik
        konferensiyasi bo‘lib o‘tdi</h2>
    </div>
    <div class="mxd-block">
    </div>
  </div>

  <!--  video banner start -->
  <div class="mxd-section padding-grid-pre-pinned">
    <div class="mxd-container">
      <div class="mxd-divider " id="parallax-divider">
        <div class="mxd-divider__video">
          <iframe class="video parallax-video "
            src="https://www.youtube.com/embed/zrksaVA8RXA?si=K6QyWlfnYgxG_ErG&autoplay=1&mute=1&loop=1&playlist=zrksaVA8RXA"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen data-parallax="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!--  video banner end -->

  <!-- Title after video start -->

  <div class="mxd-hero-00__bottom">
    <div class="hero-00-manifest loading__fade">
      <p class="mxd-manifest reveal-type anim-uni-in-up">
        13 iyul kuni Toshkentda Van Universal Motors (VUM) kompaniyasi tashabbusi bilan O‘zbekiston bo‘ylab faoliyat
        yuritayotgan dilerlik markazlari vakillari ishtirokida yirik konferensiya bo‘lib o‘tdi. Tadbir “Ishonchli hamkor
        — barqaror kelajak” shiori ostida o‘tkazildi.
        <br><br>
        Mazkur uchrashuvning asosiy maqsadi — dilerlar bilan hamkorlikni mustahkamlash va biznesni rivojlantirish
        bo‘ldi. Shuningdek, ushbu tadbirda O‘zbekiston yuk mashinalari bozori uchun yangilik — gaz va benzin
        yoqilg‘isida harakatlanuvchi mutlaqo yangi avlod yuk mashinasi FAW Tiger VH modeli taqdimoti o‘tkazildi.
      </p>
    </div>
  </div>


  <div class="mxd-section padding-pre-title">
    <div class="mxd-container">
      <div class="mxd-divider">
        <div class="mxd-divider__image  parallax-img">
          <img src="img/news-img/1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="reveal-type anim-uni-in-up">
    <div class="faw-history-title fade-in">
      <h3>VUM – ishonchli hamkorlik sari intilayotgan yetakchi kompaniyalardan biri
      </h3>
    </div>
    <div class="mxd-hero-00__bottom">
      <div class="hero-00-manifest loading__fade">
        <p class="mxd-manifest reveal-type anim-uni-in-up">
          Van Universal Motors — O‘zbekistonda yuk avtomobillari savdosi, servis xizmatlari va dilerlik tarmog‘i
          yo‘nalishida faoliyat yuritayotgan, bozor­da yetakchi o‘ringa ega bo‘lish sari qat’iy intilayotgan
          kompaniyalardan biridir.
          <br><br>
          Kompaniya FAW Tiger yuk mashinalarini O‘zbekistonda ishlab chiqarish va ularga xizmat ko‘rsatish tizimini
          shakllantirgan bo‘lib, hozirda mamlakat bo‘ylab 20 dan ortiq dilerlik markazlari bilan faol hamkorlik olib
          bormoqda.
          <br><br>
          2025 yilning birinchi yarmi yakuniga ko‘ra, kompaniya o‘z faoliyatida bir qancha muhim natijalarga erishdi.
          Jumladan:dilerlar soni 7 tadan 23 taga yetdi — bu texnikalarning hududlarga yetkazilishi va servis
          xizmatlarining qulay tashkil etilishi uchun katta imkoniyat yaratdi.
          <br><br>
          Shu davr ichida Van Universal Motors’ga bo‘lgan ishonch yirik tashkilotlar tomonidan ham ortdi. Transport
          vazirligi huzuridagi Avtomobil yo‘llari qo‘mitasi tarkibidagi tashkilotlar, “Navoiy KMK” AJ, Davlat xavfsizlik
          <br><br>
          xizmati, shuningdek, Korzinka, Safia kabi xususiy kompaniyalar VUM bilan barqaror hamkorlikni yo‘lga qo‘ydi.
          Bu ko‘rsatkichlar — VUM’ning bozorga bergan real qiymati va sheriklar bilan qurayotgan mustahkam
          munosabatlaridan dalolat beradi.
        </p>
      </div>
    </div>
  </div>


  <div class="mxd-section padding-pre-title">
    <div class="mxd-container">
      <div class="mxd-divider">
        <div class="mxd-divider__image parallax-img">
          <img src="img/news-img/2.JPG" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="reveal-type anim-uni-in-up">
    <div class="faw-history-title fade-in">
      <h3>VUM – ishonchli hamkorlik sari intilayotgan yetakchi kompaniyalardan biri
      </h3>
    </div>
    <div class="mxd-hero-00__bottom">
      <div class="hero-00-manifest loading__fade">
        <p class="mxd-manifest reveal-type anim-uni-in-up">
          <strong>Konferensiyada muhim strategik yo‘nalishlar muhokama qilindi</strong>
          <br><br>
          Tadbir doirasida VUM rahbariyati tomonidan kompaniyaning 2025–2026 yillardagi
          rivojlanish strategiyasi, dilerlik
          markazlariga beriladigan qo‘llab-quvvatlovlar, hududiy marketing yondashuvlari va servis xizmatlarini
          takomillashtirish borasidagi rejalar taqdim etildi.
          <br><br> Muhokama qilingan asosiy yo‘nalishlar quyidagilardan iborat bo‘ldi:
          <br><br>
          • Bozor segmentlari uchun moslashtirilgan FAW modellari;
          <br><br>
          • Dilerlar uchun markazlashgan servis nazorati;
          <br><br>
          • Har bir hudud uchun alohida marketing strategiyasi;
          <br><br>
          • Brend imijini kuchaytirish va diler ishonchini oshirish choralari.
          <br><br>
          <strong> Hamkorlik – asosiyqadriyat</strong>
          <br><br>
          ТTadbirda ishtirok etgan dilerlik vakillari VUM tomonidan taqdim etilayotgan
          texnikalar, marketing yondashuvlari
          va mijozlarga xizmat ko‘rsatish tizimini takomillashtirish bo‘yicha qo‘llab-quvvatlovni ijobiy baholab, savdo
          samaradorligini oshirishga qaratilgan fikr-mulohazalarini bildirdi.
          <br><br>
          “Biz uchun har bir diler —
          kompaniyamizning yuzidir. Ular orqali biz mijozlarga yaqinlashamiz, ularning
          ehtiyojlarini tushunamiz va barqaror yechimlar taklif qilamiz”, dedi VUM bosh direktori G‘asanov Ravshan
          Rustam
          o‘g‘li o‘z nutqida
        </p>
      </div>
    </div>
  </div>

  <div class="mxd-section padding-pre-title">
    <div class="mxd-container">
      <div class="mxd-divider">
        <div class="mxd-divider__image  parallax-img">
          <img src="img/news-img/3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="reveal-type anim-uni-in-up">
    <div class="faw-history-title fade-in">
      <h3>FAW Tiger VH – O‘zbekistonda zavod sharoitida ishlab chiqarilgan ilk
        gaz-benzinli yuk mashinasi</h3>
    </div>
    <div class="mxd-hero-00__bottom">
      <div class="hero-00-manifest loading__fade">
        <p class="mxd-manifest reveal-type anim-uni-in-up">
          Tadbir doirasida yangi texnikaning taqdimoti ham bo‘lib o‘tdi — bu FAW Tiger VH modeli bo‘lib, u gaz (metan)
          va
          benzin yoqilg‘isida harakatlana oladigan ikki yonilg‘ili dvigatelga ega yuk mashinasidir.
          <br><br>
          Mazkur model — O‘zbekistonda zavod sharoitida gaz va benzin tizimi bilan ishlab chiqarilgan ilk eksklyuziv
          texnikalardan biri hisoblanadi. Bu yechim nafaqat iqtisodiy jihatdan foydali, balki ekologik xavfsizlik nuqtai
          nazaridan ham muhim ahamiyatga ega.
          <br><br>
          • Asosiy afzalliklar:
          <br><br>
          • To‘liq og‘irligi – 8 000 kg
          <br><br>
          • Yoqilg‘i bakanlari – 345 (200+145) litr metan + 15 litr benzin
          <br><br>
          • YUNNEI dvigateli – 130 o.k.
          <br><br>
          • Shaanxi MT/8 uzatma qutisi
          <br><br>
          • 360 lik kamera, monitor, multirul, pnevmouro‘rindiq, salon uchun yorqin jigarrang rangdagi charmli dizayn,
          yon
          oynalardagi isitish tizimi va hokazo.
          <br><br>
          FAW Tiger VH texnikasi dilerlar tomonidan katta qiziqish bilan kutib olindi va konferensiya ishtirokchilari
          ushbu model, shubhasiz, xalqimiz uchun ayni ehtiyojga javob beruvchi, ommabop va foydali yechim bo‘lishini
          ta’kidladi.
        </p>
      </div>
    </div>
  </div>

  <div class="mxd-section padding-pre-title">
    <div class="mxd-container">
      <div class="mxd-divider">
        <div class="mxd-divider__image  parallax-img">
          <img src="img/news-img/4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="reveal-type anim-uni-in-up">
    <div class="faw-history-title fade-in">
      <h3>Yakuniy natija – yagona maqsad sari birlashuv
      </h3>
    </div>
    <div class="mxd-hero-00__bottom">
      <div class="hero-00-manifest loading__fade">
        <p class="mxd-manifest reveal-type anim-uni-in-up">
          <strong>Yakuniy natija – yagona maqsad sari birlashuv</strong>
          <br><br>
          Van Universal Motors dilerlik tarmog‘i bilan birgalikda yuk avtomobillari bozorida ishonchli hamkor va
          barqaror
          ishlab chiqaruvchi sifatida o‘z mavqeyini mustahkamlashni davom ettirmoqda.
          <br><br>
          Kompaniya kelajakni dilerlar bilan birga qurmoqda. Agar siz ham ishonchli hamkorlikka tayyor bo‘lsangiz — biz
          bilan bog‘laning.
        </p>
      </div>
    </div>
  </div>
  <!-- Футер (начало) -->
  <footer id="mxd-footer" class="mxd-footer">

    <!-- Футер — полноширинный текст (начало) -->
    <div class="mxd-footer__text-wrap">
      <div class="fullwidth-text__tl-trigger"></div>
      <div class="mxd-footer__fullwidth-text personal anim-top-to-bottom">
        <h1 class="footer-title">FAW TRUCKS</h1>
      </div>
    </div>
    <!-- Футер — полноширинный текст (конец) -->

    <!-- Футер — информационные колонки (начало) -->
    <div class="mxd-footer__footer-blocks">
      <!-- Первый столбец -->
      <div class="footer-blocks__column animate-card-3">
        <div class="footer-blocks__card fullheight-card">
          <!-- Footer navigatsiyasi -->
          <div class="footer-blocks__nav">
            <ul class="footer-nav">
              <li class="footer-nav__item anim-uni-in-up">
                <a href="#" class="footer-nav__link btn-anim">
                  <span class="btn-caption">Bosh sahifa</span>
                </a>
              </li>
              <li class="footer-nav__item anim-uni-in-up">
                <a href="#" class="footer-nav__link btn-anim">
                  <span class="btn-caption">Biz haqimizda</span>
                </a>
              </li>
              <li class="footer-nav__item anim-uni-in-up">
                <a href="#" class="footer-nav__link btn-anim">
                  <span class="btn-caption">Yuk mashinalari</span>
                </a>
                <p class="footer-nav__counter">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px" height="20px"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill="currentColor"
                      d="M19.6,9.6c0,0-3,0-4,0c-0.4,0-1.8-0.2-1.8-0.2c-0.6-0.1-1.1-0.2-1.6-0.6c-0.5-0.3-0.9-0.8-1.2-1.2
                                      c-0.3-0.4-0.4-0.9-0.5-1.4c0,0-0.1-1.1-0.2-1.5c-0.1-1.1,0-4.4,0-4.4C10.4,0.2,10.2,0,10,0S9.6,0.2,9.6,0.4c0,0,0.1,3.3,0,4.4
                                      c0,0.4-0.2,1.5-0.2,1.5C9.4,6.7,9.2,7.2,9,7.6C8.7,8.1,8.2,8.5,7.8,8.9c-0.5,0.3-1,0.5-1.6,0.6c0,0-1.2,0.1-1.7,0.2
                                      c-1,0.1-4.2,0-4.2,0C0.2,9.6,0,9.8,0,10c0,0.2,0.2,0.4,0.4,0.4c0,0,3.1-0.1,4.2,0c0.4,0,1.7,0.2,1.7,0.2c0.6,0.1,1.1,0.2,1.6,0.6
                                      c0.4,0.3,0.8,0.7,1.1,1.1c0.3,0.5,0.5,1,0.6,1.6c0,0,0.1,1.3,0.2,1.7c0,1,0,4.1,0,4.1c0,0.2,0.2,0.4,0.4,0.4s0.4-0.2,0.4-0.4
                                      c0,0,0-3.1,0-4.1c0-0.4,0.2-1.7,0.2-1.7c0.1-0.6,0.2-1.1,0.6-1.6c0.3-0.4,0.7-0.8,1.1-1.1c0.5-0.3,1-0.5,1.6-0.6
                                      c0,0,1.3-0.1,1.8-0.2c1,0,4,0,4,0c0.2,0,0.4-0.2,0.4-0.4C20,9.8,19.8,9.6,19.6,9.6L19.6,9.6z"></path>
                  </svg>
                  <span>25</span>
                </p>
              </li>
              <li class="footer-nav__item anim-uni-in-up">
                <a href="#" class="footer-nav__link btn-anim">
                  <span class="btn-caption">Xizmatlar</span>
                </a>
              </li>
              <li class="footer-nav__item anim-uni-in-up">
                <a href="#" class="footer-nav__link btn-anim">
                  <span class="btn-caption">Yangiliklar</span>
                </a>
              </li>
              <li class="footer-nav__item anim-uni-in-up">
                <a href="#" class="footer-nav__link btn-anim">
                  <span class="btn-caption">Aloqa</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- Havolalar -->
          <div class="footer-blocks__links anim-uni-in-up">
            <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
              <span class="btn-caption">Maxfiylik siyosati</span>
            </a>
            <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
              <span class="btn-caption">Foydalanish shartlari</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Второй столбец -->
      <div class="footer-blocks__column animate-card-3">
        <div class="footer-blocks__card">
          <p class="mxd-point-subtitle anim-uni-in-up">
            <i class="ph-fill ph-envelope"></i>
            <a href="mailto:info@fawtrucks.uz?subject=FAW%20TRUCKS%20bo'yicha%20so'rov"><span
                style="font-weight: bold;">eMail: </span>info@fawtrucks.uz</a>
          </p>
          <p class="mxd-point-subtitle anim-uni-in-up">
            <i class="ph-fill ph-phone"></i>
            <a href="tel:+998712345678"><span style="font-weight: bold;">Telefon: </span>+998 71 234-56-78</a>
          </p>
          <p class="mxd-point-subtitle anim-uni-in-up">
            <i class="ph-fill ph-map-pin"></i>
            <a href="https://yandex.uz/maps/-/CHxF6XPZ" target="_blank" rel="noopener noreferrer"><span
                style="font-weight: bold;">Manzil: </span>Toshkent,Abdulla Kaxxar ko'chasi 2А,</a>
          </p>
        </div>

        <div class="footer-blocks__card card-maps" style="padding:0;overflow: hidden;height: 100%;">
          <!-- Встроенная карта Yandex (растянута на всю карточку, уменьшен зум) -->
          <div style="position:relative;overflow:hidden;width:100%;height:100%;">
            <a href="https://yandex.uz/maps/org/187051650206/?utm_medium=mapframe&utm_source=maps" target="_blank"
              rel="noopener noreferrer" style="color:#eee;font-size:12px;position:absolute;top:0px;">Faw Trucks</a>
            <a href="https://yandex.uz/maps/10335/tashkent/category/car_dealership/184105322/?utm_medium=mapframe&utm_source=maps"
              target="_blank" rel="noopener noreferrer"
              style="color:#eee;font-size:12px;position:absolute;top:14px;">Автосалон в Ташкенте</a>
            <iframe
              src="https://yandex.uz/map-widget/v1/?ll=69.264431%2C41.271680&mode=poi&poi%5Bpoint%5D=69.264339%2C41.271780&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D187051650206&z=16"
              width="100%" height="100%" frameborder="1" allowfullscreen="true"
              style="position:relative;border:0;min-height:220px;"></iframe>
          </div>
        </div>
      </div>

      <!-- Третий столбец -->
      <div class="footer-blocks__column animate-card-3">
        <div class="footer-blocks__card fullheight-card">
          <div class="footer-blocks__block">
            <div class="footer-blocks__title anim-uni-in-up">
              <p class="footer-blocks__title-l">Ijtimoiy tarmoqlar</p>
            </div>

            <div class="footer-blocks__socials">
              <ul class="footer-socials">
                <li class="footer-socials__item anim-uni-in-up">
                  <img src="faw_site-img/icons/main-social__icon/facebook.png" alt="" class="footer-socials__icon">
                  <a href="https://www.facebook.com/fawtrucksuz" class="footer-socials__link"
                    target="_blank">Facebook</a>
                </li>
                <li class="footer-socials__item anim-uni-in-up">
                  <img src="faw_site-img/icons/main-social__icon/instagram.png" alt="" class="footer-socials__icon">
                  <a href="https://www.instagram.com/fawtrucks.uz" class="footer-socials__link"
                    target="_blank">Instagram</a>
                </li>
                <li class="footer-socials__item anim-uni-in-up">
                  <img src="faw_site-img/icons/main-social__icon/telegram.png" alt="" class="footer-socials__icon">
                  <a href="https://t.me/fawtrucksuz" class="footer-socials__link" target="_blank">Telegram</a>
                </li>
                <li class="footer-socials__item anim-uni-in-up">
                  <img src="faw_site-img/icons/main-social__icon/youtube.png" alt="" class="footer-socials__icon">
                  <a href="https://www.youtube.com/c/fawtrucksuz" class="footer-socials__link"
                    target="_blank">YouTube</a>
                </li>
                <li class="footer-socials__item anim-uni-in-up">
                  <img src="faw_site-img/icons/main-social__icon/linkedin.png" alt="" class="footer-socials__icon">
                  <a href="https://www.linkedin.com/company/faw-trucks-uzbekistan" class="footer-socials__link"
                    target="_blank">LinkedIn</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="footer-blocks__links anim-uni-in-up">
            <p class="t-xsmall t-muted">
              <a class="no-effect" href="#" target="_blank">FAW TRUCKS</a>
              © 2025 - Barcha huquqlar himoyalangan
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Футер — информационные колонки (конец) -->

  </footer>
  <!-- Футер (конец) -->
  <!-- To Top Button Start -->
  <a href="#0" id="to-top" class="btn btn-to-top slide-up anim-no-delay">
    <i class="ph ph-arrow-up"></i>
  </a>
  <!-- To Top Button End -->

  <!-- Load Scripts Start -->
  <script src="template/js/libs.min.js"></script>
  <script src="template/js/app.js"></script>
  <script src="faw-js/faw.js"></script>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const video = document.querySelector('.parallax-video');
      if (video) {
        // Функция для сброса стилей
        function resetStyles() {
          video.style.setProperty('height', '192.5px', '');
          video.style.setProperty('transform', 'none', '');
        }

        // Сбрасываем сразу
        resetStyles();

        // Слушаем изменения стилей (если парраллакс обновляет)
        const observer = new MutationObserver((mutations) => {
          mutations.forEach((mutation) => {
            if (mutation.attributeName === 'style') {
              resetStyles();
            }
          });
        });
        observer.observe(video, { attributes: true });

        // Опционально: отключаем парраллакс
        video.removeAttribute('data-parallax');
      }
    });
  </script>
</body>

</html>