{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="{{ LANGUAGE_CODE|default:'uz' }}">

<head>
    <meta charset="UTF-8">

    <!-- Page Title -->
    <title>VUM Servis</title>

    <!-- Meta Tags -->
    <meta name="description" content="Faw Trucks в Узбекистане">
    <meta name="keywords" content="Faw Trucks в Узбекистане">
    <meta name="author" content="mix_design">

    <!-- Viewport Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Универсальный favicon -->
    <link rel="icon" href="{% static 'images/logo/logo-vum.png' %}" />
    <!-- Для Apple устройств -->
    <link rel="apple-touch-icon" href="{% static 'images/logo/logo-vum.png' %}">

    <!-- Facebook Metadata Start -->
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:title" content="Faw Trucks в Узбекистане">
    <meta property="og:description" content="Faw Trucks в Узбекистане">
    <meta property="og:url" content="https://mixdesign.dev/themeforest/rayo">
    <meta property="og:image" content="https://mixdesign.dev/themeforest/rayo/img/og-image.jpg">
    <!-- Facebook Metadata End -->

    <!-- Google Tag Manager Xurshid 1 chi kod -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M33GWKMW');</script>
    <!-- End Google Tag Manager Xurshid 1 chi kod-->

    <!-- Meta Pixel Code Xurshid 2 chi kod-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2271244510044933');
        fbq('track', 'PageView');
    </script>

    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=2271244510044933&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code  Xurshid 2 chi kod-->

    <!-- Template Styles Start -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/loaders/loader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/breadcrumbs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_service.css' %}">

    <!-- Template Styles End -->

    <!-- Custom Browser Color Start -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#FAF7F6">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#161616">
    <meta name="msapplication-navbutton-color" content="#161616">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Custom Browser Color End -->

</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M33GWKMW" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Loader Start -->
    <div id="loader" style="display: none;" class="loader">
        <div class="loader__wrapper">
            <div class="loader__content">
                <div class="loader__count">
                    <span class="count__text">0</span>
                    <!-- <span class="count__percent">%</span> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Loader End -->

    <!-- Меню и шапка (начало) -->
    {% include 'main/includes/header.html' %}
    <!-- Меню и шапка (конец) -->

    <!-- Menu & Header Navigation End -->
    <!-- Page Content Start -->
    <div class="mxd-block loading-wrap">
    </div>
    <!-- Хлебные крошки -->
    <div class="mxd-section-filter pre-grid">
        <div class="mxd-section-filter__inner animate-card-3">
            <div class="mxd-grid-item-1">
                <div class="section-filter">
                    <div aria-label="breadcrumb">
                        <ol class="breadcrumb-ol">
                            <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
                            <li class="active"><a href="{% url 'services' %}">VUM Servis xizmati </a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faw-history-title fade-in">
        <h2 class="reveal-type">VUM servis xizmati</h2>
    </div>
    <!-- Section - Parallax Divider Start -->
    <div class="mxd-section padding-grid-pre-mtext">
        <div class="mxd-container">
            <div class="mxd-divider">
                <div class="mxd-divider__image  parallax-img">
                    <img src="{% static 'images/service-img/1.JPG' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Section - Parallax Divider End -->


    <div class="mxd-hero-00__bottom">
        <div class="hero-00-manifest loading__fade">
            <p class="mxd-manifest reveal-type">
                13 iyul kuni Toshkentda Van Universal Motors (VUM) kompaniyasi tashabbusi bilan O‘zbekiston bo‘ylab
                faoliyat
                yuritayotgan dilerlik markazlari vakillari ishtirokida yirik konferensiya bo‘lib o‘tdi. Tadbir
                “Ishonchli hamkor
                — barqaror kelajak” shiori ostida o‘tkazildi.
                <br><br>
                Mazkur uchrashuvning asosiy maqsadi — dilerlar bilan hamkorlikni mustahkamlash va biznesni
                rivojlantirish
                bo‘ldi. Shuningdek, ushbu tadbirda O‘zbekiston yuk mashinalari bozori uchun yangilik — gaz va benzin
                yoqilg‘isida harakatlanuvchi mutlaqo yangi avlod yuk mashinasi FAW Tiger VH modeli taqdimoti o‘tkazildi.
            </p>
        </div>
    </div>
    <div class="mxd-section padding-blog">
        <div class="mxd-container grid-container">
            <!-- Block - Blog Preview Cards Start -->
            <div class="mxd-block">
                <div class="mxd-blog-preview">
                    <div class="container-fluid p-0">
                        <div class="row g-0">
                            <!-- item -->
                            <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">
                                <div class="mxd-blog-preview__image blog-preview-image-2 parallax-img-small">
                                    <img src="{% static 'images/service-img/card/6.jpg' %}" alt="Blog Preview Image">
                                </div>
                            </div>
                            <!-- item -->
                            <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">

                                <div class="mxd-blog-preview__image blog-preview-image-3 parallax-img-small">
                                    <img src="{% static 'images/service-img/card/2.jpg' %}" alt="Blog Preview Image">
                                </div>
                            </div>
                            <!-- item -->
                            <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">

                                <div class="mxd-blog-preview__image blog-preview-image-3 parallax-img-small">
                                    <img src="{% static 'images/service-img/card/3.jpg' %}" alt="Blog Preview Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block - Blog Preview Cards End -->
        </div>
    </div>
    <!-- Блок — карточки превью (начало) -->
    <div class="mxd-block" id="parametrs">
        <div class="mxd-blog-preview">
            <div class="container-fluid p-0">
                <div class="g-0 card_block">
                    <div class="acardeon-cards_container">
                        <div class="acardeon-cards_block">
                            <div class="acardeon-card">
                                <input type="checkbox" id="accordion-1" class="accordion-checkbox">
                                <label for="accordion-1" class="acardeon-card__header">
                                    <h3 class="acardeon-card__title">Avtomobil xaridi</h3>
                                    <span class="acardeon-card__icon"></span>
                                </label>
                                <div class="acardeon-card__content">
                                    <ul class="specs-list custom-marker">
                                        <li class="specs-list__item">Siz xarid qiladigan FAW Trucks texnikasi darhol
                                            foydalanishga tayyor holda topshiriladi. Avtomobilni xaridorga topshirishdan
                                            oldin diler oldindan tayyorgarlik ishlarini amalga oshiradi: barcha
                                            tizimlarning ishlashini tekshiradi, nosozliklarni bartaraf etadi, tashqi
                                            ko‘rinishini ko‘zdan kechiradi va zaruriy ehtiyot qismlarni almashtiradi.
                                            Oldindan tayyorgarlik sanasi servis daftaridagi talonda ko‘rsatiladi.</li>
                                        <li class="specs-list__item"> Avtomobilni qabul qilishdan oldin xaridor uning
                                            texnik holatini ko‘zdan
                                            kechirishi va to‘g‘ri holatda ekanligini tasdiqlashi lozim: to‘liq
                                            jihozlanganligi, ishlashga yaroqliligi hamda shikastlanmaganligi. Mashina
                                            bilan birga unga foydalanish qo‘llanmasi va servis daftarchasi ham
                                            topshiriladi.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="acardeon-card">
                                <input type="checkbox" id="accordion-2" class="accordion-checkbox">
                                <label for="accordion-2" class="acardeon-card__header">
                                    <h2 class="acardeon-card__title">Kafolat majburiyatlari</h2>
                                    <span class="acardeon-card__icon"></span>
                                </label>
                                <div class="acardeon-card__content">
                                    <ul class="specs-list custom-marker">
                                        <li class="specs-list__item">Kafolatli xizmat FAW Trucks yuk avtomobillarining
                                            barchasiga tatbiq etiladi. Yetkazib berish shartnomasida kafolat muddati —
                                            vaqt va yurish masofasi bo‘yicha belgilanadi. Kafolat shartlari yuzaga
                                            kelgan taqdirda, xaridor servis markaziga murojaat qilib, ishlab chiqaruvchi
                                            aybi sababli ishdan chiqqan uzel va ehtiyot qismlarni bepul ta’mirlash
                                            huquqiga ega bo‘ladi.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="acardeon-card">
                                <input type="checkbox" id="accordion-3" class="accordion-checkbox">
                                <label for="accordion-3" class="acardeon-card__header">
                                    <h3 class="acardeon-card__title">Kafolatli ta’mirlash</h3>
                                    <span class="acardeon-card__icon"></span>
                                </label>
                                <div class="acardeon-card__content">
                                    <ul class="specs-list custom-marker">
                                        <li class="specs-list__item">Agar texnikangizga kafolatli ta’mirlash kerak
                                            bo‘lsa, FAW Trucks dilerlik tarmog‘idagi servis markaziga murojaat qiling.
                                        </li>
                                        <li class="specs-list__item">Kafolatli, kafolatdan keyingi va texnik xizmat
                                            ko‘rsatish bo‘yicha batafsil ma’lumot olish uchun +998 55 508-60-60 raqamiga
                                            qo‘ng‘iroq qiling yoki info@faw.uz
                                            elektron pochta manziliga yozing. Shuningdek, servis markazlari faoliyati
                                            bo‘yicha fikr va mulohazalaringizni ham shu manzilga yuborishingiz mumkin.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="acardeon-card">
                                <input type="checkbox" id="accordion-4" class="accordion-checkbox">
                                <label for="accordion-4" class="acardeon-card__header">
                                    <h3 class="acardeon-card__title">Ehtiyot qismlarga kafolat</h3>
                                    <span class="acardeon-card__icon"></span>
                                </label>
                                <div class="acardeon-card__content">
                                    <ul class="specs-list custom-marker">
                                        <li class="specs-list__item">Ishlab chiqaruvchi tomonidan ehtiyot qismlarga
                                            beriladigan kafolat muddati 3 oyni tashkil etadi. Ushbu muddat ehtiyot qism
                                            rasmiy dilerning servis markazida avtomobilga o‘rnatilgan vaqtdan boshlab
                                            hisoblanadi.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="acardeon-card">
                                <input type="checkbox" id="accordion-5" class="accordion-checkbox">
                                <label for="accordion-5" class="acardeon-card__header">
                                    <h3 class="acardeon-card__title">Egasining mas’uliyati</h3>
                                    <span class="acardeon-card__icon"></span>
                                </label>
                                <div class="acardeon-card__content">
                                    <ul class="specs-list custom-marker">
                                        <li class="specs-list__item">Kafolatli va texnik xizmat ko‘rsatish yoki yuzaga
                                            kelgan nosozliklarni bartaraf etish uchun FAW Trucks rasmiy dilerlik servis
                                            markazlariga murojaat qilish zarur.</li>
                                        <li class="specs-list__item">Servis markaziga murojaat qilganda, egadan servis
                                            kitobi talab etiladi. Amalga oshirilgan barcha ishlar bo‘yicha hujjatlar
                                            egada saqlanishi kerak, bu ularni tasdiqlash imkonini beradi.S</li>
                                        <li class="specs-list__item">Avtomobil egasi servis kitobida ko‘rsatilgan ishlar
                                            ro‘yxatiga muvofiq rasmiy dilerlarda belgilangan texnik xizmatdan o‘z
                                            vaqtida va to‘liq o‘tishi lozim. Ushbu shart buzilganda kafolat bekor
                                            qilinadi va avtomobilning ishlash muddati qisqaradi.</li>
                                        <li class="specs-list__item">Egasi yonilg‘i, moylash suyuqliklari
                                            yetishmasligi, yonib turgan signal chiroqlari va boshqa ogohlantirish
                                            belgilari sababli yuzaga kelgan nosozliklar uchun mas’uldir.</li>
                                        <li class="specs-list__item">Texnikani -25°C va undan past haroratda ishlatishda
                                            ishlab chiqaruvchi ko‘rsatmalariga muvofiq yonilg‘i va texnik suyuqliklarni
                                            tanlash hamda avtomobilni qo‘shimcha issiqlik izolyatsiya vositalari bilan
                                            jihozlash talab etiladi.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="acardeon-card">
                                <input type="checkbox" id="accordion-6" class="accordion-checkbox">
                                <label for="accordion-6" class="acardeon-card__header">
                                    <h3 class="acardeon-card__title">Nosozliklar aniqlanganda</h3>
                                    <span class="acardeon-card__icon"></span>
                                </label>
                                <div class="acardeon-card__content">
                                    <ul class="specs-list custom-marker">
                                        <li class="specs-list__item">Agar avtomobilingizda nuqson yoki nosozliklar
                                            yuzaga kelsa, FAW Trucks rasmiy dileriga murojaat qiling. Mutaxassislar
                                            sizga maslahat berishadi va zarurat tug‘ilganda texnikani eng yaqin servis
                                            markaziga yetkazib berishni taklif qilishadi. Ba’zi hollarda servis kitobi
                                            talab qilinishi mumkin.</li>
                                        <li class="specs-list__item">Servis markazida texnik xizmat ko‘rsatish vaqtida
                                            holat kafolatli hisoblanishi aniqlanadi. Agar shunday bo‘lsa, barcha
                                            ta’mirlash ishlari diler tomonidan bepul amalga oshiriladi. Kafolat asosida
                                            almashtirilgan ehtiyot qismlar ishlab chiqaruvchiga tegishli bo‘lib qoladi.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faw-history-title fade-in">
        <h3 class="reveal-type">Texnik xizmat ko‘rsatish</h3>
    </div>
    <!-- Section - Parallax Divider Start -->
    <div class="mxd-section padding-grid-pre-mtext">
        <div class="mxd-container">
            <div class="mxd-divider">
                <div class="mxd-divider__image  parallax-img">
                    <img src="{% static 'images/service-img/2.JPG' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="mxd-hero-00__bottom">
        <div class="hero-00-manifest loading__fade">
            <p class="mxd-manifest reveal-type">
                FAW Trucks yuk avtomobillarini texnik xizmat ko‘rsatishga taklif etamiz — bu rejalashtirilgan
                profilaktika ishlari bo‘lib, texnikani soz holatda ushlab turishga va jiddiy nosozliklarning oldini
                olishga yordam beradi.
                <br>
                Texnik xizmat ko‘rsatish ikki bosqichda amalga oshiriladi:
                <br><br>
                •Ekspluatatsiyaning boshlang‘ich davrida servis;
                <br><br>
                •Asosiy davrda servis.
                <br><br>
                Biz ishimizning ishonchliligini, faqat original ehtiyot qismlardan foydalanishni va FAW standartlariga
                muvofiq xalqaro darajadagi xizmatni kafolatlaymiz.
                <br>
                Servis oldidan dilerlik tarmog‘idagi markazlarda xizmatlarning mavjudligini aniqlab oling.
            </p>
        </div>
    </div>
    <div class="mxd-section padding-blog">
        <div class="mxd-container grid-container">
            <!-- Block - Blog Preview Cards Start -->
            <div class="mxd-block">
                <div class="mxd-blog-preview">
                    <div class="container-fluid p-0">
                        <div class="row g-0">
                            <!-- item -->
                            <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">
                                <div class="mxd-blog-preview__image blog-preview-image-2 parallax-img-small">
                                    <img src="{% static 'images/service-img/card/4.jpg' %}" alt="Blog Preview Image">
                                </div>
                            </div>
                            <!-- item -->
                            <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">

                                <div class="mxd-blog-preview__image blog-preview-image-3 parallax-img-small">
                                    <img src="{% static 'images/service-img/card/5.jpg' %}" alt="Blog Preview Image">
                                </div>
                            </div>
                            <!-- item -->
                            <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">

                                <div class="mxd-blog-preview__image blog-preview-image-3 parallax-img-small">
                                    <img src="{% static 'images/service-img/card/1.jpg' %}" alt="Blog Preview Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block - Blog Preview Cards End -->
        </div>
    </div>
    <div class="faw-history-title fade-in">
        <h3 class="reveal-type">Ehtiyot qismlar FAW</h3>
    </div>
    <!-- Section - Parallax Divider Start -->
    <div class="mxd-section padding-grid-pre-mtext">
        <div class="mxd-container">
            <div class="mxd-divider">
                <div class="mxd-divider__image  parallax-img">
                    <img src="{% static 'images/service-img/3.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="mxd-hero-00__bottom">
        <div class="hero-00-manifest loading__fade">
            <p class="mxd-manifest reveal-type">
                Ishlab chiqaruvchidan taqdim etiladigan FAW ehtiyot qismlari – bu sifat va ishonchlilik kafolati.
                Dvigatel, uzatmalar qutisi, shassi, kuzov qismlari hamda boshqa butlovchi qismlar transport
                vositalarining xavfsizligini oshiradi, xizmat muddatini uzaytiradi va ekspluatatsiya xarajatlarini
                kamaytiradi.
                <br><br>
                Har bir original ehtiyot qism aniq modelning xususiyatlarini hisobga olgan holda ishlab chiqariladi.
                Ular foydalanishga chiqarilishidan avval qat’iy sifat nazoratidan o‘tadi, mustahkamlik va uzoq
                muddatlilik bo‘yicha sinovdan o‘tkaziladi.
                <br><br>
                Ehtiyot qismlar mavjudligini dilerlik tarmog‘idagi do‘konlardan bilib olishingiz yoki sayt orqali so‘rov
                qoldirishingiz mumkin.
            </p>
        </div>
    </div>

    <!-- Блок — карточки превью (конец) -->
    <!-- Футер (начало) -->
    {% include 'main/includes/footer.html' %}
    <!-- Футер (конец) -->
    <!-- To Top Button Start -->
    <a href="#0" id="to-top" class="btn btn-to-top slide-up anim-no-delay">
        <i class="ph ph-arrow-up"></i>
    </a>
    <!-- To Top Button End -->

    <!-- Load Scripts Start -->
    <script src="{% static 'js/libs.min.js' %}"></script>
    <!-- <script src="template/js/app.js"></script> -->
    <script src="{% static 'js/faw.js' %}"></script>
    <script src="{% static 'js/about.js' %}"></script>


</body>

</html>