{% load static %}
    <!-- Футер -->
    <footer id="mxd-footer" class="mxd-footer">
        <!-- Полноширинный текст -->
        <div class="mxd-footer__text-wrap">
            <div class="fullwidth-text__tl-trigger"></div>
            <div class="mxd-footer__fullwidth-text personal anim-top-to-bottom">
                <h1 class="footer-title">FAW TRUCKS</h1>
            </div>
        </div>

        <!-- Информационные колонки -->
        <div class="mxd-footer__footer-blocks">
            <!-- Колонка 1: Навигация -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card fullheight-card">
                    <div class="footer-blocks__nav">
                        <ul class="footer-nav">
                            <li class="footer-nav__item">
                                <a href="{% url 'home' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Bosh sahifa{% elif LANGUAGE_CODE == 'ru' %}Главная{% else %}Home{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'about' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Biz haqimizda{% elif LANGUAGE_CODE == 'ru' %}О нас{% else %}About us{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'products' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Yuk mashinalari{% elif LANGUAGE_CODE == 'ru' %}Грузовики{% else %}Trucks{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'services' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Xizmatlar{% elif LANGUAGE_CODE == 'ru' %}Услуги{% else %}Services{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'news' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Yangiliklar{% elif LANGUAGE_CODE == 'ru' %}Новости{% else %}News{% endif %}</span>
                                </a>
                            </li>
                            <li class="footer-nav__item">
                                <a href="{% url 'contact' %}" class="footer-nav__link btn-anim">
                                    <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Aloqa{% elif LANGUAGE_CODE == 'ru' %}Контакты{% else %}Contact{% endif %}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-blocks__links">
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Maxfiylik siyosati{% elif LANGUAGE_CODE == 'ru' %}Политика конфиденциальности{% else %}Privacy policy{% endif %}</span>
                        </a>
                        <a class="btn btn-line-xsmall btn-muted slide-right anim-no-delay" href="#">
                            <span class="btn-caption">{% if LANGUAGE_CODE == 'uz' %}Foydalanish shartlari{% elif LANGUAGE_CODE == 'ru' %}Условия использования{% else %}Terms of use{% endif %}</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Колонка 2: Контакты и карта -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card">
                    <p class="mxd-point-subtitle">
                        <i class="ph-fill ph-envelope"></i>
                        <a href="mailto:info@fawtrucks.uz?subject=FAW%20TRUCKS%20inquiry">
                            <span style="font-weight: bold;">
                                {% if LANGUAGE_CODE == 'uz' %}eMail:{% elif LANGUAGE_CODE == 'ru' %}Эл. почта:{% else %}Email:{% endif %}
                            </span> info@faw.uz
                        </a>
                    </p>
                    <p class="mxd-point-subtitle">
                        <i class="ph-fill ph-phone"></i>
                        <a href="tel:+998712345678">
                            <span style="font-weight: bold;">
                                {% if LANGUAGE_CODE == 'uz' %}Telefon:{% elif LANGUAGE_CODE == 'ru' %}Телефон:{% else %}Phone:{% endif %}
                            </span> +998 55 508 60 60
                        </a>
                    </p>
                    <p class="mxd-point-subtitle">
                        <i class="ph-fill ph-map-pin"></i>
                        <a href="https://yandex.uz/maps/-/CHxF6XPZ" target="_blank" rel="noopener noreferrer">
                            <span style="font-weight: bold;">
                                {% if LANGUAGE_CODE == 'uz' %}Manzil:{% elif LANGUAGE_CODE == 'ru' %}Адрес:{% else %}Address:{% endif %}
                            </span> 
                            {% if LANGUAGE_CODE == 'uz' %}Toshkent, Abdulla Qahxara ko‘chasi, 2A
                            {% elif LANGUAGE_CODE == 'ru' %}Ташкент, ул. Абдуллы Кахара 2А
                            {% else %}Tashkent, Abdulla Kakhar St. 2A{% endif %}
                        </a>
                    </p>
                </div>

                <div class="footer-blocks__card card-maps" style="padding:0;overflow:hidden;height:100%;">
                    <div style="position:relative;overflow:hidden;width:100%;height:100%;">
                        <a href="https://yandex.uz/maps/org/187051650206/?utm_medium=mapframe&utm_source=maps" target="_blank" rel="noopener noreferrer" style="color:#eee;font-size:12px;position:absolute;top:0px;">Faw Trucks</a>
                        <a href="https://yandex.uz/maps/10335/tashkent/category/car_dealership/184105322/?utm_medium=mapframe&utm_source=maps" target="_blank" rel="noopener noreferrer" style="color:#eee;font-size:12px;position:absolute;top:14px;">
                            {% if LANGUAGE_CODE == 'uz' %}Avtosalon Toshkentda{% elif LANGUAGE_CODE == 'ru' %}Автосалон в Ташкенте{% else %}Car dealership in Tashkent{% endif %}
                        </a>
                        <iframe src="https://yandex.uz/map-widget/v1/?ll=69.264431%2C41.271680&mode=poi&poi%5Bpoint%5D=69.264339%2C41.271780&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D187051650206&z=16" width="100%" height="100%" frameborder="0" allowfullscreen="true" style="position:relative;border:0;min-height:220px;" loading="lazy"></iframe>
                    </div>
                </div>
            </div>

            <!-- Колонка 3: Соцсети -->
            <div class="footer-blocks__column animate-card-3">
                <div class="footer-blocks__card fullheight-card">
                    <div class="footer-blocks__block">
                        <div class="footer-blocks__title">
                            <p class="footer-blocks__title-l">
                                {% if LANGUAGE_CODE == 'uz' %}Ijtimoiy tarmoqlar{% elif LANGUAGE_CODE == 'ru' %}Социальные сети{% else %}Social networks{% endif %}
                            </p>
                        </div>

                        <div class="footer-blocks__socials">
                            <ul class="footer-socials">
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/facebook.png' %}" alt="Facebook" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://www.facebook.com/fawtrucksuz" class="footer-socials__link" target="_blank" rel="noopener noreferrer">Facebook</a>
                                </li>
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/instagram.png' %}" alt="Instagram" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://www.instagram.com/fawtrucks.uz" class="footer-socials__link" target="_blank" rel="noopener noreferrer">Instagram</a>
                                </li>
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/telegram.png' %}" alt="Telegram" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://t.me/fawtrucksuz" class="footer-socials__link" target="_blank" rel="noopener noreferrer">Telegram</a>
                                </li>
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/youtube.png' %}" alt="YouTube" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://www.youtube.com/c/fawtrucksuz" class="footer-socials__link" target="_blank" rel="noopener noreferrer">YouTube</a>
                                </li>
                                <li class="footer-socials__item">
                                    <img src="{% static 'images/icons/main-social__icon/linkedin.png' %}" alt="LinkedIn" class="footer-socials__icon" width="24" height="24" loading="lazy">
                                    <a href="https://www.linkedin.com/company/faw-trucks-uzbekistan" class="footer-socials__link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-blocks__links">
                        <p class="t-xsmall t-muted">
                            <a class="no-effect" href="#" target="_blank" rel="noopener noreferrer">FAW TRUCKS</a>
                            © 2025 - {% if LANGUAGE_CODE == 'uz' %}Barcha huquqlar himoyalangan{% elif LANGUAGE_CODE == 'ru' %}Все права защищены{% else %}All rights reserved{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>