.login-logo,
.register-logo {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.img-circle {
    box-shadow: none !important;
    border-radius: 0;
    filter: brightness(0) invert(1);
}

/* Общий фон всей админки */
.content-wrapper {
    background: url("/static/images/logo-vum.png") no-repeat center center fixed !important;
}

/* Затемнение фона, чтобы текст читался */
.content-wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    z-index: -1;
}

/* Сделаем карточки полупрозрачными */
.card {
    background-color: rgba(255, 255, 255, 0.85) !important;
    border-radius: 10px !important;
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__rendered {
    border-radius: 2rem;
    background: #ffffff;
    line-height: normal !important;
    padding: 2px 15px 5px 10px;
}
.select2-container--admin-autocomplete .select2-selection--single .select2-selection__clear {
    left: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    filter: brightness(0) invert(1);
}