.snow-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: 0em;
    color: #ffffff;
    font-size: 1em;
    text-shadow: 0 0 4px rgb(122, 193, 255), 0 0 8px rgb(116, 197, 255);
    opacity: 1;
    user-select: none;
    pointer-events: none;
    will-change: transform, opacity;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-2em) translateX(0) rotate(0deg);
    }
    50% {
        transform: translateY(50vh) translateX(var(--drift)) rotate(var(--rotHalf));
    }
    100% {
        transform: translateY(110vh) translateX(calc(var(--drift)*2)) rotate(var(--rot));
    }
}