    .field-feature_aircondi,
    .field-feature_power_windows,
    .field-feature_sleeping_area,
    .field-feature_radio,
    .field-feature_remote_control,
    .field-feature_bluetooth,
    .field-feature_multifunction_steering {
        display: inline-block !important;
        width: 100% !important;
        box-sizing: border-box !important;
    }

    /* Убираем отступ у каждого второго элемента */
    .field-feature_power_windows,
    .field-feature_remote_control {
        margin-right: 0 !important;
    }

    /* Мультируль на всю ширину */
    .field-feature_multifunction_steering {
        width: 100% !important;
        margin-right: 0 !important;
    }

